/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --primary: #121212;
    --secondary: #FF0066;
}

.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

/* Header Styling */
header {
    padding: 15px 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    width: 170px;
    padding: 10px;
}

#logo img {
    width: 100%;
}

#menus {
    display: flex;
    align-items: center;
    margin-left: -15px;
}

.menu ul {
    display: flex;
    align-items: center;
}

.menu ul li:last-child a {
    padding-right: 0;
}

#contact ul {
    flex-wrap: wrap;
}

.menu li a {
    padding: 15px;
    color: var(--primary);
    font-family: Arial, sans-serif;
    font-weight: 900;
}

.menu li a:hover {
    color: var(--secondary);
}

#contact {
    margin-right: -15px;
}

/* Mobile Menu */
#mobMenus {
    display: none;
}

img#menuOpen {
    width: 62px;
    padding: 7px;
}

.mobMenu {
    position: fixed;
    width: 270px;
    left: -270px;
    top: 0;
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
    background-color: white;
    z-index: 10;
    transition: all .1s linear;
}

.mobMenu.active {
    left: 0;
}

.mobMenu img#menuClose {
    display: block;
    width: 47px;
    padding: 7px;
    margin-left: auto;
    margin-bottom: 17px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

.mobMenu ul {
    margin-bottom: 43px;
}

.mobMenu ul:last-child {
    margin-bottom: 0;
}

.mobMenu li a {
    display: block;
    padding: 9px 15px;
    color: var(--primary);
    font-family: Arial, sans-serif;
    font-weight: 900;
}

.mobMenu li a:hover {
    color: var(--secondary);
}

#menuOverlay.active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0000004d;
    width: 100%;
    height: 100%;
    z-index: 9;
}

/* Profile Styling */
#main {
    background-color: #f1f1f1;
}

#profile {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

#profile::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    margin-left: auto;
    top: 0;
    right: 0;
    background-image: url(../img/me.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    transition: .5s;
}

.can-make {
    position: relative;
    width: 70%;
}

.can-make ul {
    display: flex;
    color: var(--secondary);
}

.can-make span {
    font-size: clamp(2.5rem, calc(2rem + 4vw), 3.5rem);
    font-weight: 900;
}

.hire {
    margin-top: 3rem;
    position: relative;
    width: 70%;
}

.hire .btn {
    margin-right: .85rem;
    cursor: pointer;
    font-size: 13.333px;
}

.hire .btn:last-child {
    margin-right: 0;
}

/* Service Styling */

/* Project Styling */
.projects{
}
.project{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 53px;
}
.project:last-child{
    margin-bottom: 0;
}
.project >*{
    width: 50%;
    flex: 0 0 auto;
    padding: 17px;
}
.project:nth-child(even) >*:last-child{
    order: -1;
}
.project .projectThumb img{
    width: 100%;
    border: 3px solid #f1f1f1;
}
.project a{
    color: inherit;
}
.project-content-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.project .project-content{
    
}
.project .project-content h3{
    padding-bottom: 17px;
    color: #0969da;
}
.project .project-content h3:hover{
    text-decoration: underline;
}
.project .project-content p{
    margin-bottom: 17px;
}
.project-source{
    display: flex;
}
.project-source a{
    display: flex;
    align-items: center;
    padding: 5px 12px;
    border: 2px solid var(--secondary);
    margin-right: 11px;
    border-radius: 1000px;
    transition: .3s;
}
.project-source a:hover{
    color: white;
    background-color: var(--secondary);
}
.project-source a:hover img{
    filter: invert(1);
}
.project-source a img{
    width: 15px;
    margin-right: 7px;
}

/* About Styling */
#about .aboutMe {
    width: 200px;
    border-radius: 50%;
    height: 200px;
    overflow: hidden;
    margin: 13px auto;
}

#about img {
    width: 100%;
}

#about span {
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
    display: block;
    margin-top: 11px;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}

#about p {
    text-align: center;
    color: grey;
    margin-top: 11px;
}

#about ul {
    width: 75%;
    margin: auto;
    margin-top: 33px;
    color: #606060;
    line-height: 22px;
}

#about li {
    margin-bottom: 13px;
}

/* Contact Us */
.contactusBox {
    display: flex;
    flex-wrap: wrap;
}

.contact {
    display: flex;
    align-items: center;
    padding: 11px;
    width: 25%;
    flex: 0 0 auto;
}

.social {
    width: 33px;
    background: black;
    padding: 7px;
    border-radius: 50%;
    margin-right: 8px;
}

.social img {
    width: 100%;
    display: block;
    filter: invert(1);
}

/* Utility */
.section {
    margin: 48px auto;
}

.section:last-child {
    margin-bottom: 0 !important;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.btn {
    font-weight: 900;
    border: 2px solid var(--secondary);
    padding: 19px 53px;
    border-radius: 3px;
    transition: .3s;
    color: inherit;
}

.btn.active,
.btn:hover {
    background: var(--secondary);
    color: white;
}

h2.heading {
    font-size: 3rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

p.heading {
    padding: 15px;
    border: 2px solid var(--secondary);
    text-align: center;
    margin-top: 17px;
    margin-bottom: 33px;
    font-family: 'Poppins', sans-serif;
}

/* Styling Apps */
.apps {
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.app {
    box-shadow: 0px 0px 33px 0px #0000000d;
    padding: 10px 29px;
    border-radius: 13px;
    transition: .3s;
    margin: 8px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
}

.app:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 33px 0px #00000029;
}

.app .appThumb {
    width: 80px;
    margin: auto;
}

.app .appThumb img {
    width: 100%;
    display: block;
    margin: auto;
}

.app span.appTitle {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    display: block;
    margin-top: 3px;
}

.app p {
    text-align: center;
    color: grey;
    margin-top: 13px;
}


/* Let's Make it responsive */
@media (max-width: 1024px) {
    .contact {
        width: 33.3333333%;
    }
}
@media (max-width: 1000px) {
    #contact ul {
        justify-content: flex-end;
    }
}

@media (max-width: 840px) {
    #contact {
        display: none;
    }

    nav #menus {
        width: 100%;
        justify-content: space-between;
    }
}

@media (max-width: 767px) {
    #profile {
        align-items: center;
        justify-content: flex-end;
        padding-bottom: 33px;
    }

    #profile::before {
        width: 100%;
        opacity: .5;
    }

    #menu {
        display: none;
    }

    #logo {
        width: 222px;
    }

    #mobMenus {
        display: block;
    }
    #profile{
        height: 100%;
        min-height: 100%;
    }
    .can-make {
        justify-content: center;
        text-align: center;
        width: 100%;
        margin-top: 180px;
    }

    .hire {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .hire .btn{
        padding: 13px 35px;
    }
    .contact {
        width: 50%;
    }
    .project> *{
        width: 100%;
    }
    .project:nth-child(even) >*:last-child {
        order: unset;
    }
    #about ul {
        width: 100%;
    }
}


@media(max-width:540px) {
    .contact {
        width: 100%;
    }
    .project> *{
        padding-left: 0;
        padding-right: 0;
    }
}

@media(max-width:332px) {
    .hire .btn {
        flex-direction: column;
        margin: 5px;
    }

    #projects .apps {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    #logo {
        width: 180px;
    }

    img#menuOpen {
        width: 52px;
        padding: 5px;
    }
}